.git
.github
.ddev
.idea
.DS_Store
.env.example
Build/*
!Build/ProjectFiles
!Build/ProjectFiles/**
Documentation
Dockerfile*
README.md
Tests
compose.yaml
docs
phpunit.xml
services
.env
.env.*
node_modules
vendor
var
dump.sql
dump.sql.gz
*.sqlite
*.sqlite-*
