.DS_Store
.env
.env.*
!.env.example
.idea
nbproject
/var
/vendor
/public/*
!/public/.htaccess
!/public/api
!/public/api/**
!/public/index.php
!/public/template-preview.png
!/public/template-preview.svg
!/public/fileadmin
!/public/fileadmin/.htaccess
!/public/fileadmin/_temp_
!/public/fileadmin/_temp_/.htaccess
!/public/fileadmin/_temp_/index.html
!/public/fileadmin/camino
!/public/fileadmin/camino/**
!/public/fileadmin/user_upload
!/public/fileadmin/user_upload/index.html
!/public/typo3temp
!/public/typo3temp/index.html
.vercel
